ul{
    width: 350px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.21);
}/* 对导航栏的整体样式进行设置 */
ul li{
    list-style: none;
    float: left;
}/* 删除列表的样式并设置浮动 */
a{
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 0px;
    text-decoration: none;
}/* 设置a标签的样式 */

.nav1 {
    position: relative;/* 设置相对定位 */
    display: inline-block;/* 让元素具有块级元素和行内元素的特性,即将块级元素转化为内联元素 */
}

.nav2 {
    display: none;/* 将某元素隐藏起来 */
    position: absolute;/* 绝对定位 */
    background-color: #f9f9f9;
    min-width: 81px;/* 最小宽度 */
}

.nav2 a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    display: block;/* 将a标签设置为块级标签 */
}

.nav2 a:hover {
    background-color: #00000000
}/* 鼠标悬浮时的颜色 */

.nav1:hover .nav2 {
    display: block;
}/* 鼠标悬浮在元素上时,变为块级标签 */

.nav1:hover,li:hover{
    background-color: #64646496;
}
